.parametersTable {
    padding: 40px 20px;
    background: #fff;

    table {
        width: 100%;
        margin: 40px 0 0;
        border-collapse: collapse;

        tr {
            background: #fcfcfc;
            height: 50px;
            margin: 0 0 10px;

            td {
                padding: 20px 10px;
                
            }
        }
    }
}